.login-submit-form-btn {
  background: #4c5564;
}

.login-submit-form-btn:hover {
  opacity: 90%;
}

.login-form-input {
  border-radius: 10rem;
  height: 150%;
  font-size: larger;
  padding: 10px;
}
